In [88]:
# Imports
from db import connect
import pandas as pd
import mysql.connector

In [89]:
def insert_one(db, name, query):
    db.reconnect()
    cursor = db.cursor()
    try:
        cursor.execute(query)
        print("Inserted " + name)
    except mysql.connector.Error as e:
        print("FAILED to insert " + name) 
        print(e)
        return None
    finally:
        cursor.close()
        pass

In [90]:
def initialize_expansions(df):
    db = connect('pokemondb')

    for i in range(len(df)):
        id = df.iloc[i]['id']
        name = df.iloc[i]['name']
        releasedate = df.iloc[i]['releaseDate']
        series = df.iloc[i]['series']
        total = df.iloc[i]['printedTotal']
        fulltotal = df.iloc[i]['total']

        query = "INSERT INTO expansions VALUES ("+ str(id) + ", " + str(name) + ", " + str(releasedate) + ", " + str(series) + ", " + str(total) + ", " + str(fulltotal) + ");"
        print(query)

        insert_one(db, name, query)

    db.close()

In [91]:
def readfile():
    # Read into dataframe
    df = pd.read_json('setlist.json')

    # Get rid of extraneous columns
    fields_to_keep = ['id', 'name', 'series', 'printedTotal', 'total', 'ptcgoCode', 'releaseDate']
    mylist = list(df)
    for col in mylist:
        if col not in fields_to_keep:
            df.drop(col, axis=1, inplace=True)
    #print(df.columns)

    # Get rid of extraneous rows
    ids_to_keep = ['swsh1', 'swsh2', 'swsh3', 'swsh35', 'swsh4', 'swsh45', 'swsh5', 'swsh6', 'swsh7', 'cel25', 'swsh8', 'swsh9', 'swsh10', 'pgo', 'swsh11', 'swsh12', 'swsh12pt5' 'sv1', 'sv2']
    #df.set_index('id')
    numrows = len(df)
 
    for i in range(numrows):
        if df.loc[i]['id'] not in ids_to_keep:
            df.drop(i, axis=0, inplace=True)
    
    initialize_expansions(df)
    return df

In [92]:
df = readfile()

Connected to db pokemondb
INSERT INTO expansions VALUES (swsh1, Sword & Shield, 2020/02/07, Sword & Shield, 202, 216);
FAILED to insert Sword & Shield
1054 (42S22): Unknown column 'swsh1' in 'field list'
INSERT INTO expansions VALUES (swsh2, Rebel Clash, 2020/05/01, Sword & Shield, 192, 209);
FAILED to insert Rebel Clash
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Clash, 2020/05/01, Sword & Shield, 192, 209)' at line 1
INSERT INTO expansions VALUES (swsh3, Darkness Ablaze, 2020/08/14, Sword & Shield, 189, 201);
FAILED to insert Darkness Ablaze
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Ablaze, 2020/08/14, Sword & Shield, 189, 201)' at line 1
INSERT INTO expansions VALUES (swsh35, Champion's Path, 2020/09/25, Sword & Shield, 73, 80);
FAILED to insert Champion's Path
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''s Path, 2020/09/25, Sword & Shield, 73, 80)' at line 1
INSERT INTO expansions VALUES (swsh4, Vivid Voltage, 2020/11/13, Sword & Shield, 185, 203);
FAILED to insert Vivid Voltage
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Voltage, 2020/11/13, Sword & Shield, 185, 203)' at line 1
INSERT INTO expansions VALUES (swsh45, Shining Fates, 2021/02/19, Sword & Shield, 72, 73);
FAILED to insert Shining Fates
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Fates, 2021/02/19, Sword & Shield, 72, 73)' at line 1
INSERT INTO expansions VALUES (swsh5, Battle Styles, 2021/03/19, Sword & Shield, 163, 183);
FAILED to insert Battle Styles
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Styles, 2021/03/19, Sword & Shield, 163, 183)' at line 1
INSERT INTO expansions VALUES (swsh6, Chilling Reign, 2021/06/18, Sword & Shield, 198, 233);
FAILED to insert Chilling Reign
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Reign, 2021/06/18, Sword & Shield, 198, 233)' at line 1
INSERT INTO expansions VALUES (swsh7, Evolving Skies, 2021/08/27, Sword & Shield, 203, 237);
FAILED to insert Evolving Skies
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Skies, 2021/08/27, Sword & Shield, 203, 237)' at line 1
INSERT INTO expansions VALUES (cel25, Celebrations, 2021/10/08, Sword & Shield, 25, 25);
FAILED to insert Celebrations
1054 (42S22): Unknown column 'cel25' in 'field list'
INSERT INTO expansions VALUES (swsh8, Fusion Strike, 2021/11/12, Sword & Shield, 264, 284);
FAILED to insert Fusion Strike
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Strike, 2021/11/12, Sword & Shield, 264, 284)' at line 1
INSERT INTO expansions VALUES (swsh9, Brilliant Stars, 2022/02/25, Sword & Shield, 172, 186);
FAILED to insert Brilliant Stars
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Stars, 2022/02/25, Sword & Shield, 172, 186)' at line 1
INSERT INTO expansions VALUES (swsh10, Astral Radiance, 2022/05/27, Sword & Shield, 189, 216);
FAILED to insert Astral Radiance
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Radiance, 2022/05/27, Sword & Shield, 189, 216)' at line 1
INSERT INTO expansions VALUES (pgo, Pokémon GO, 2022/07/01, Sword & Shield, 78, 88);
FAILED to insert Pokémon GO
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'GO, 2022/07/01, Sword & Shield, 78, 88)' at line 1
INSERT INTO expansions VALUES (swsh11, Lost Origin, 2022/09/09, Sword & Shield, 196, 217);
FAILED to insert Lost Origin
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Origin, 2022/09/09, Sword & Shield, 196, 217)' at line 1
INSERT INTO expansions VALUES (swsh12, Silver Tempest, 2022/11/11, Sword & Shield, 195, 215);
FAILED to insert Silver Tempest
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Tempest, 2022/11/11, Sword & Shield, 195, 215)' at line 1
INSERT INTO expansions VALUES (sv2, Paldea Evolved, 2023/06/09, Scarlet & Violet, 193, 270);
FAILED to insert Paldea Evolved
1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'Evolved, 2023/06/09, Scarlet & Violet, 193, 270)' at line 1